body {
    margin: 0;
    background-color: burlywood;
    text-align: center;
}
 
.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    /* display: flex; */

    /* justify-content: center; */
    text-align: center;
}
#omnie {
    margin-bottom: 100px;
}

.menu li {
    display: inline-block;
}

li a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}